# Dependencies
node_modules/

# Build
dist/
dist-ssr/
*.local

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea

# Env
.env
.env.*
!.env.example
